# running
running
# building
build*
*.exe
*.so
# external
/external*
/cfd_externals
# matlab
*.asv
# packages
*.zip
*.tar
*.gz
docs/html
docs/latex
data
# doc
*.pdf
*.png
*.jpg
~*.doc*
~*.tmp
# tex
*.aux
*.log
*.out
*.toc
*.bbl
# python
*.pyc
srcOrig
newSrc*