# running
running
# building
build*
*.exe
# external
/external
/cfd_externals
# matlab
*.asv
# packages
*.zip
*.tar
*.gz
docs/html
docs/latex
data
# doc
*.pdf
*.png
*.jpg
# tex
*.aux
*.log
*.out
*.toc
*.bbl
